apiVersion: alertmanager.mimir.dip.io/v1alpha1
kind: Config
metadata:
  annotations:
    meta.upbound.io/example-id: alertmanager/v1alpha1/config
  labels:
    testing.upbound.io/example-name: mytenant
  name: mytenant
spec:
  forProvider:
    child_route:
    - child_route:
      - matchers:
        - environment="prod"
        receiver: pagerduty_prod
      - matchers:
        - environment="dev"
        receiver: pagerduty_dev
      matchers:
      - severity="critical"
    receiver:
    - name: pagerduty_dev
      pagerdutyConfigs:
      - details:
          environment: dev
        routingKeySecretRef:
          key: example-key
          name: example-secret
          namespace: upbound-system
    - name: pagerduty_prod
      pagerdutyConfigs:
      - details:
          environment: prod
        routingKeySecretRef:
          key: example-key
          name: example-secret
          namespace: upbound-system
    route:
    - groupBy:
      - '...'
      groupInterval: 5m
      groupWait: 30s
      receiver: pagerduty_dev
      repeatInterval: 1h
