apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_id": "mytenant",
      "ruler_uri": "http://mimir.example.com/prometheus",
      "alertmanager_uri": "http://mimir.example.com",
      "distributor_uri": "http://mimir.example.com/distributor",
      "token": "y0ur-t0k3n"
    }
